html,body,#app {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 13px;
}
.el-card{
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15) !important;
}
